h2{
    color: black;
}

button{
    font-size: 15px;
    text-align: center;
    border-radius: 18px;
    padding:10px 20px 10px 20px;
    margin-bottom: 50px;
}

p{
    margin-left: 20%;
    font-size: 13px;
    color:#0000008f;
    font-weight: 100;
}

.footer2{
    margin-top:10px;
    padding:20px;
   
   span{
    white-space: nowrap;
    cursor: pointer;
   }
}
.section1{
    margin-left: -10%;
    
}
.section2{
    margin-left: -10%;
    .footer-sections {
        margin-left: 18%;
        margin-right: 20%;
        display: flex;
        justify-content: space-between;
    }

    .section {
        font-size: 13px;
        flex: 1;
        margin-right: 10px;
    }

    .section h4 {
        color:#000000e0;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .section ul {
        list-style: none;
        padding: 0;
    }

    .section ul li {
        margin:0 0 15px 0;
        text-align: left;
        color:#000000b8;
    }

    p {
        font-size: 14px;
        margin-bottom: 20px;
        margin-left: 19%;
        display: flex;
        align-items: flex-end;
        
    }
}
.copyright{
    display: flex;
    margin:0;
    .p1{
        margin-right:-17%;
    }
    

}