h2{
    color: black;
}

button{
    font-size: 15px;
    text-align: center;
    border-radius: 18px;
    padding:10px 20px 10px 20px;
    margin-bottom: 50px;
}

p{
    margin-left: 20%;
    font-size: 13px;
    color:#0000008f;
    font-weight: 100;
}

.footer2{
    margin-top:10px;
    padding:20px;
    hr{
        color:#00000029;
    }
   span{
    white-space: nowrap;
   }
}