.main1 {
    padding: 20px;
  
    h2 {
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: #555;

      span{
        color:black;
       }
    }
    
    .cards-container {
      display: flex;
      gap: 20px;
      justify-content: space-between;
  
      .card img {
        background-color: #fff;
        border-radius: 18px;
        box-shadow: 2px 4px 12px #00000014;
        overflow: hidden;
        width: 400px;
        height: 500px;
        transition: all .3s cubic-bezier(0,0,.5,1);
        position:relative;
        white-space: normal;
  
        &:hover {
          transform: scale(1.05);
        }
  
        .card-info {
          padding: 15px;
          position:absolute;
          transform: translate(-50%, -50%);
          z-index: 1;
  
          h3 {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }
  
          p {
            font-size: 1rem;
            color: #555;
          }
  
          span {
            display: block;
            font-weight: bold;
            margin-top: 10px;
          }
        }
      }
    }
  }
  