.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Pretendard-Regular';
    
  
    .navbar-menu ul {
      display: flex;
      list-style: none;
      gap: 10px;
      
      li {
    
        &:last-child {
          margin-left: 0; /* No margin after the last item */
        }
    
        &:nth-last-child(2) {
          margin-left: 0px; /* Reduce the gap for the second-last item */
        }
      }
  
      li a {
        text-decoration: none;
        color: #1d1d1f;
        font-size: 12px;
  
        &:hover {
          color: #0070c9;
        }
      }
    }
  

}
  